.chart {
    --tick-color: rgba(255, 255, 255, 0.2);
    --label-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    // min-height: 500px;
    display: grid;
    grid: auto 1fr 20px / 60px 1fr auto;
    padding-top: 24px;
    grid-template-areas:
        ". header header"
        "y-axis canvas summary"
        "origin x-axis summary"
        "credit credit credit";

    @media (max-width: 600px) {
        padding: 24px 16px 0px 0px;
        grid-template-areas:
            ". header"
            "y-axis canvas"
            "origin x-axis"
            "credit credit"
            "summary summary";
        .chart__credit {
            font-size: 10px;
            padding-bottom: 8px;
            padding-left: 16px;
        }
    }

    @media (max-width: 500px) {
        // background: blue;
        grid-template-areas:
            "header header"
            "y-axis canvas"
            "origin x-axis"
            "credit credit"
            "summary summary";
        > div:first-of-type {
            padding-bottom: 20px;
        }
    }

    &__header {
        grid-area: header;
        padding-bottom: 4px;
    }

    &__title {
        color: #ffc914;
    }

    &__location {
        color: white;
        opacity: 0.5;
    }

    &__explainer {
        color: white;
    }

    &__y-axis {
        grid-area: y-axis;
        display: grid;
        grid-template-columns: 1fr 12px;

        > p {
            position: relative;
            color: var(--label-color);
            grid-column: 1;
            margin-right: 4px;
            top: -12px;
            text-align: right;
        }

        > div {
            grid-column: 2;
            height: 2px;
            width: 12px;
            background: var(--tick-color);
        }

        div:nth-of-type(1) {
            grid-row: 1;
        }
        div:nth-of-type(2) {
            grid-row: 2;
        }
        div:nth-of-type(3) {
            grid-row: 3;
        }
        div:nth-of-type(4) {
            grid-row: 4;
        }
    }

    &__grid {
        grid-area: canvas;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        > div {
            width: 100%;
            height: 100%;
            border-right: 2px solid rgba(255, 255, 255, 0.2);
        }
    }

    &__canvas-container {
        grid-area: canvas;
        min-width: 0px;
    }

    &__origin {
        grid-area: origin;
        grid-row: 3;
        grid-column: 1;
        border-top: 2px solid var(--tick-color);
        border-right: 2px solid var(--tick-color);
        border-top-right-radius: 4px;
        width: 16px;
        height: 100%;
        place-self: center end;
    }

    &__x-axis {
        grid-area: x-axis;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        > div {
            color: rgba(255, 255, 255, 0.8);
            text-align: center;
            width: 100%;
            height: 100%;
            border-right: 2px solid var(--tick-color);
            margin: 0;

            > p {
                margin: 0;
                font-size: clamp(10px, 2vw, 16px);
            }
        }
    }

    &__summary {
        color: white;
        grid-area: summary;
        // display: grid;
        // grid-template-rows: repeat(3, 1fr);
        padding-left: 16px;
        // min-width: 210px;
        // width: 80px;
        // max-width: 80vw;
        // row-gap: 16px;

        // @media (max-width: 600px) {
        //     grid-template-columns: 1fr 1fr;
        //     column-gap: 24px;
        //     // width: 80vw;
        //     // place-self: center;
        // }
    }

    &__summary-title {
        font-size: 0.8rem;
        font-weight: normal;
        opacity: 0.6;
        text-transform: uppercase;
        // width: 100%;
        padding-bottom: 4px;
    }

    &__stats {
        display: grid;
        row-gap: 16px;
        min-width: 210px;

        @media (max-width: 600px) {
            grid-template-columns: 1fr 1fr;
            column-gap: 24px;
            // width: 80vw;
            // place-self: center;
        }
    }

    &__stat {
    }

    &__parameter-name {
        color: #ffc914;
    }

    &__value {
        text-align: right;
        // border-bottom: 6px solid #84CAE7;
    }

    &__number {
        font-size: 3rem;
        font-size: clamp(1.2rem, 3vw, 3rem);
    }

    &__separator {
        height: 6px;
        background: linear-gradient(to right, transparent, #84cae7, #4ce0d2);
        width: 80%;
        margin-left: auto;
    }

    &__credit {
        grid-area: credit;
        place-self: start;
        color: white;
        font-size: 12px;
        padding-top: 8px;

        a:link {
            color: #84cae7;
        }

        a:visited {
            color: #4ce0d2;
            position: relative;
            top: 2px;
        }
    }
}
