.chart {
    // background: #202124;
    --tick-color: rgba(255, 255, 255, 0.2);
    --label-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: grid;
    grid: auto 1fr 20px auto / auto 1fr auto;
    padding-top: 24px;
    grid-template-areas:
        ". header header"
        "y-axis canvas summary"
        "origin x-axis summary"
        "credit credit credit";

    @media (max-width: 600px) {
        // position: sticky;
        // top: -50px;
        padding: 24px 0px 0px 0px;
        grid-template-areas:
            ". header"
            "y-axis canvas"
            "origin x-axis"
            "credit credit"
            "summary summary";
        .chart__credit {
            font-size: 10px;
            padding-bottom: 8px;
        }
    }

    @media (max-width: 500px) {
        grid-template-areas:
            "header header"
            "y-axis canvas"
            "origin x-axis"
            "credit credit"
            "summary summary";
        > div:first-of-type {
            padding-bottom: 20px;
        }
    }

    &__header {
        grid-area: header;
        padding-bottom: 8px;
        font-size: clamp(10px, 2.5vw, 16px);
    }

    // &__title {
    //     color: #ffc914;
    // }

    // &__location {
    //     color: white;
    //     opacity: 0.5;
    // }

    &__explainer {
        color: white;
    }

    &__y-axis {
        grid-area: y-axis;
        display: grid;
        grid-template-columns: 1fr clamp(6px, 1vw, 12px);

        > p {
            position: relative;
            color: var(--label-color);
            grid-column: 1;
            margin-right: 4px;
            top: -12px;
            top: -7px;
            top: clamp(-12px, -1 * 2vw, -7px);
            text-align: right;
            font-size: clamp(10px, 3vw, 16px)
        }

        > div {
            grid-column: 2;
            height: 2px;
            width: 100%;
            background: var(--tick-color);
        }

        div:nth-of-type(1) {
            grid-row: 1;
        }
        div:nth-of-type(2) {
            grid-row: 2;
        }
        div:nth-of-type(3) {
            grid-row: 3;
        }
        div:nth-of-type(4) {
            grid-row: 4;
        }
    }

    &__grid {
        grid-area: canvas;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        > div {
            width: 100%;
            height: 100%;
            border-right: 2px solid rgba(255, 255, 255, 0.2);
        }
    }

    &__canvas-container {
        grid-area: canvas;
        min-width: 0px;
    }

    &__origin {
        grid-area: origin;
        border-top: 2px solid var(--tick-color);
        border-right: 2px solid var(--tick-color);
        border-top-right-radius: 4px;
        width: 16px;
        height: 100%;
        place-self: center end;
    }

    &__x-axis {
        grid-area: x-axis;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        > div {
            color: var(--label-color);
            text-align: center;
            width: 100%;
            height: 100%;
            border-right: 2px solid var(--tick-color);
            margin: 0;

            > p {
                margin: 0;
                font-size: clamp(10px, 2vw, 16px);
            }
        }
    }

    &__summary {
        color: white;
        grid-area: summary;
        height: 100%;
        padding-left: 16px;
        display: grid;
        grid-template-rows: auto 1fr;
        @media (max-width: 600px) {
            padding-top: 16px;
            padding-left: 0;
        }
    }

    &__summary-title {
        font-size: 0.8rem;
        font-weight: normal;
        opacity: 0.6;
        text-transform: uppercase;
        padding-bottom: 4px;
    }

    &__stats {
        display: grid;
        align-content: space-between;
        min-width: 210px;

        @media (max-width: 600px) {
            grid-template-columns: 1fr 1fr;
            column-gap: 48px;
        }
    }

    &__stat {
    }

    &__parameter-name {
        color: #ffc914;
    }

    &__value {
        text-align: right;
    }

    &__number {
        font-size: 3rem;
        font-size: clamp(1.2rem, 3vw, 3rem);
    }

    &__separator {
        height: 6px;
        background: linear-gradient(to right, transparent, #84cae7, #4ce0d2);
        width: 80%;
        margin-left: auto;
    }

    &__credit {
        grid-area: credit;
        place-self: start;
        color: white;
        font-size: 12px;
        padding-top: 8px;
    }
}
