.controls {
    display: grid;
    grid-template-columns: repeat( 2, minmax(250px, 1fr) );
    place-content: center;
    place-items: center;
    column-gap: 36px;
    row-gap: 24px;
    padding: 24px 0px;

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }

    &__range {
        width: 100%;
        accent-color: #84CAE7;
        display: grid;
        grid-template-areas: 
            "parameter value"
            "input input";
        row-gap: 10px;
    }

    &__parameter-name {
        grid-area: parameter;
        color: white;
        place-self: center start;
    }

    &__input {
        grid-area: input;
        width: 100%;
    }

    &__value {
        grid-area: value;
        place-self: center end;
        padding-bottom: 4px;
        color: white;
        text-align: right;
        padding-left: 8px;
    }

    &__number {
        font-size: 2rem;
    }

    &__unit {
        height: 24px;
        grid-row: 2;
        color: white;
    }
}