:root {
    --color_background: #eee;
    --color_display: #fff;
    --font-size_small: 1.2rem;
    --font-size_medium: 1.5rem;
    --font-size_large: 2rem;
    --font-size_x-large: 2.5rem;
    --font-size_xx-large: 3rem;
    --font-weight_thin: 200;
    --font-weight_light: 300;
    --font-weight_regular: 400;
    --font-weight_bold: 600;
}