:root {
  --color_background: #202124;
  --color_display: #fff;
  --font-size_small: 1.2rem;
  --font-size_medium: 1.5rem;
  --font-size_large: 2rem;
  --font-size_x-large: 2.5rem;
  --font-size_xx-large: 3rem;
  --font-weight_thin: 200;
  --font-weight_light: 300;
  --font-weight_regular: 400;
  --font-weight_bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: var(--color_background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img, canvas {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

main {
  --grid-content-columns: minmax(0px, 1fr) minmax(320px, 1080px) minmax(0px, 1fr);
  display: grid;
  grid-template-columns: var(--grid-content-columns);
  padding: 20px;
}
main > * {
  grid-column: 2;
}

.header__title {
  padding-left: 48px;
  color: white;
}

.chart {
  --tick-color: rgba(255, 255, 255, 0.2);
  --label-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  display: grid;
  grid: auto 1fr 20px/60px 1fr auto;
  padding-top: 24px;
  grid-template-areas: ". header header" "y-axis canvas summary" "origin x-axis summary" "credit credit credit";
}
@media (max-width: 600px) {
  .chart {
    padding: 24px 16px 0px 0px;
    grid-template-areas: ". header" "y-axis canvas" "origin x-axis" "credit credit" "summary summary";
  }
  .chart .chart__credit {
    font-size: 10px;
    padding-bottom: 8px;
    padding-left: 16px;
  }
}
@media (max-width: 500px) {
  .chart {
    grid-template-areas: "header header" "y-axis canvas" "origin x-axis" "credit credit" "summary summary";
  }
  .chart > div:first-of-type {
    padding-bottom: 20px;
  }
}
.chart__header {
  grid-area: header;
  padding-bottom: 4px;
}
.chart__title {
  color: #ffc914;
}
.chart__location {
  color: white;
  opacity: 0.5;
}
.chart__explainer {
  color: white;
}
.chart__y-axis {
  grid-area: y-axis;
  display: grid;
  grid-template-columns: 1fr 12px;
}
.chart__y-axis > p {
  position: relative;
  color: var(--label-color);
  grid-column: 1;
  margin-right: 4px;
  top: -12px;
  text-align: right;
}
.chart__y-axis > div {
  grid-column: 2;
  height: 2px;
  width: 12px;
  background: var(--tick-color);
}
.chart__y-axis div:nth-of-type(1) {
  grid-row: 1;
}
.chart__y-axis div:nth-of-type(2) {
  grid-row: 2;
}
.chart__y-axis div:nth-of-type(3) {
  grid-row: 3;
}
.chart__y-axis div:nth-of-type(4) {
  grid-row: 4;
}
.chart__grid {
  grid-area: canvas;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.chart__grid > div {
  width: 100%;
  height: 100%;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
}
.chart__canvas-container {
  grid-area: canvas;
  min-width: 0px;
}
.chart__origin {
  grid-area: origin;
  grid-row: 3;
  grid-column: 1;
  border-top: 2px solid var(--tick-color);
  border-right: 2px solid var(--tick-color);
  border-top-right-radius: 4px;
  width: 16px;
  height: 100%;
  place-self: center end;
}
.chart__x-axis {
  grid-area: x-axis;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.chart__x-axis > div {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  width: 100%;
  height: 100%;
  border-right: 2px solid var(--tick-color);
  margin: 0;
}
.chart__x-axis > div > p {
  margin: 0;
  font-size: clamp(10px, 2vw, 16px);
}
.chart__summary {
  color: white;
  grid-area: summary;
  display: grid;
  padding-left: 16px;
  min-width: 210px;
  row-gap: 16px;
}
@media (max-width: 600px) {
  .chart__summary {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }
}
.chart__parameter-name {
  color: #ffc914;
}
.chart__value {
  text-align: right;
}
.chart__number {
  font-size: 3rem;
  font-size: clamp(1.2rem, 3vw, 3rem);
}
.chart__separator {
  height: 6px;
  background: linear-gradient(to right, transparent, #84cae7, #4ce0d2);
  width: 80%;
  margin-left: auto;
}
.chart__credit {
  grid-area: credit;
  place-self: start;
  color: white;
  font-size: 12px;
  padding-top: 8px;
}
.chart__credit a:link {
  color: #84cae7;
}
.chart__credit a:visited {
  color: #4ce0d2;
  position: relative;
  top: 2px;
}

.controls {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  place-content: center;
  place-items: center;
  column-gap: 36px;
  row-gap: 24px;
  padding: 24px;
}
@media (max-width: 600px) {
  .controls {
    grid-template-columns: 1fr;
  }
}
.controls__range {
  width: 100%;
  accent-color: #84CAE7;
  display: grid;
  grid-template-areas: "parameter value" "input input";
  row-gap: 10px;
}
.controls__parameter-name {
  grid-area: parameter;
  color: white;
  place-self: center start;
}
.controls__input {
  grid-area: input;
  width: 100%;
}
.controls__value {
  grid-area: value;
  place-self: center end;
  padding-bottom: 4px;
  color: white;
  text-align: right;
  padding-left: 8px;
}
.controls__number {
  font-size: 2rem;
}
.controls__unit {
  height: 24px;
  grid-row: 2;
  color: white;
}

/*# sourceMappingURL=index.css.map */